# Clustering Exercises - Data Wrangling

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

from env import host, user, password
import os

#import acquire
#import summarize
#import prepare

## acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.
    * Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    * Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
    * Only include properties that include a latitude and longitude value.

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

### acquire

In [2]:
# copy and pasted from my work on the regression project and then modified

def get_connection(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_zillow_data():   
    sql_query = '''
                SELECT *
                FROM properties_2017
                JOIN(SELECT parcelid, logerror, max(transactiondate) AS lasttransactiondate
                FROM predictions_2017
                GROUP BY parcelid, logerror
                ) AS predictions USING (parcelid)
                LEFT JOIN airconditioningtype USING (airconditioningtypeid)
                LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
                LEFT JOIN buildingclasstype USING (buildingclasstypeid)
                LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
                LEFT JOIN propertylandusetype USING (propertylandusetypeid)
                LEFT JOIN storytype USING (storytypeid)
                LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
                LEFT JOIN unique_properties USING (parcelid)
                WHERE latitude is not null AND longitude is not null
                AND propertylandusetypeid = '261' OR '262' OR '263' OR '264' OR '268' OR '273' OR '274' OR '275' OR '276' OR '279';
                '''
    filename = "zillow_df.csv"
    if os.path.isfile(filename):
        df = pd.read_csv(filename)
        return df
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql(sql_query, get_connection('zillow'))
        # cache the dataframe
        df.to_csv(filename)
        
        # return the dataframe
        return df

In [3]:
df = get_zillow_data()
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,censustractandblock,logerror,lasttransactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,10711855,nan,nan,261.00,2.00,nan,nan,nan,1087254,nan,...,"60,371,132,321,007.00",-0.01,2017-07-07,None,None,None,Central,Single Family Residential,None,None
1,10711877,nan,nan,261.00,2.00,nan,nan,1.00,1072280,nan,...,"60,371,132,321,007.00",0.02,2017-08-29,Central,None,None,Central,Single Family Residential,None,None
2,10711888,nan,nan,261.00,2.00,nan,nan,1.00,1340933,nan,...,"60,371,132,321,007.00",0.08,2017-04-04,Central,None,None,Central,Single Family Residential,None,None
3,10711910,nan,nan,261.00,2.00,nan,nan,nan,1878109,nan,...,"60,371,132,321,008.00",-0.04,2017-03-17,None,None,None,Central,Single Family Residential,None,None
4,10711923,nan,nan,261.00,2.00,nan,nan,nan,2190858,nan,...,"60,371,132,321,008.00",-0.01,2017-03-24,None,None,None,Central,Single Family Residential,None,None

In [4]:
df.columns

Index(['parcelid', 'typeconstructiontypeid', 'storytypeid',
       'propertylandusetypeid', 'heatingorsystemtypeid', 'buildingclasstypeid',
       'architecturalstyletypeid', 'airconditioningtypeid', 'id',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
       'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'logerror', 'lasttransactiondate',
       'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc'],
      dtype='object')

### summarize

In [16]:
#print('Shape:\n', df.shape, '\nInfo:\n', df.info(), '\nDescriptions:\n', df.describe(), '\nNulls by Column:\n', df.isnull().sum(), '\nNulls by Row:\n', df.isnull().sum(axis=1), '\nValue Counts:\n', df.count())

In [8]:
print('Shape:\n', df.shape)

Shape:
 (77609, 68)

In [12]:
print('\nInfo:\n', df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77609 entries, 0 to 77608
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77609 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77575 non-null  float64
 4   heatingorsystemtypeid         49570 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         25006 non-null  float64
 8   id                            77609 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77575 non-null  float64
 11  bedroomcnt                    77575 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76960 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77375 non-null  float64
 17  finishedsquarefeet12          73920 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77575 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76960 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77575 non-null  float64
 29  longitude                     77575 non-null  float64
 30  lotsizesquarefeet             69318 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77575 non-null  object
 37  propertyzoningdesc            50475 non-null  object
 38  rawcensustractandblock        77575 non-null  float64
 39  regionidcity                  76103 non-null  float64
 40  regionidcounty                77575 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77525 non-null  float64
 43  roomcnt                       77575 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  logerror                      77609 non-null  float64
 60  lasttransactiondate           77609 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49570 non-null  object
 65  propertylandusedesc           77575 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.3+ MB

Info:
 None

In [11]:
print('\nDescriptions:\n', df.describe())

Descriptions:
                   parcelid  typeconstructiontypeid          storytypeid  \
count            77,609.00                  222.00                50.00
mean         13,005,828.77                    6.04                 7.00
std           3,477,348.94                    0.56                 0.00
min          10,711,855.00                    4.00                 7.00
25%          11,538,209.00                    6.00                 7.00
50%          12,529,996.00                    6.00                 7.00
75%          14,210,970.00                    6.00                 7.00
max         167,689,317.00                   13.00                 7.00

       propertylandusetypeid  heatingorsystemtypeid  buildingclasstypeid  \
count              77,575.00              49,570.00                15.00
mean                  261.82                   3.92                 3.93
std                     5.14                   3.59                 0.26
min                    31.00                   1.00                 3.00
25%                   261.00                   2.00                 4.00
50%                   261.00                   2.00                 4.00
75%                   266.00                   7.00                 4.00
max                   275.00                  24.00                 4.00

       architecturalstyletypeid  airconditioningtypeid                   id  \
count                    206.00              25,006.00            77,609.00
mean                       7.39                   1.81         1,496,004.13
std                        2.73                   2.97           861,345.10
min                        2.00                   1.00               349.00
25%                        7.00                   1.00           752,520.00
50%                        7.00                   1.00         1,499,111.00
75%                        7.00                   1.00         2,242,061.00
max                       21.00                  13.00         2,985,182.00

              basementsqft  ...      numberofstories        fireplaceflag  \
count                50.00  ...            17,596.00               172.00
mean                679.72  ...                 1.43                 1.00
std                 689.70  ...                 0.54                 0.00
min                  38.00  ...                 1.00                 1.00
25%                 273.00  ...                 1.00                 1.00
50%                 515.00  ...                 1.00                 1.00
75%                 796.50  ...                 2.00                 1.00
max               3,560.00  ...                 6.00                 1.00

       structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
count                   77,460.00            77,574.00            77,575.00
mean                   189,281.45           490,144.70             2,016.00
std                    230,413.73           653,802.18                 0.00
min                         44.00             1,000.00             2,016.00
25%                     84,182.00           206,898.50             2,016.00
50%                    136,404.50           358,878.50             2,016.00
75%                    218,734.00           569,000.00             2,016.00
max                 11,421,790.00        49,061,236.00             2,016.00

       landtaxvaluedollarcnt            taxamount   taxdelinquencyyear  \
count              77,573.00            77,570.00             2,900.00
mean              301,145.30             5,995.82                14.09
std               492,728.73             7,628.87                 2.18
min                   161.00                19.92                 3.00
25%                85,293.00             2,712.63                14.00
50%               203,174.00             4,448.26                15.00
75%               366,753.00             6,926.78                15.00
max            48,952,198.00           586,639.30                99.00

         censustractandblock             logerror
count              77,328.00            77,609.00
mean   60,496,658,430,262.86                 0.02
std     1,533,375,678,743.79                 0.17
min    60,371,011,101,000.00                -4.66
25%    60,373,109,004,005.00                -0.02
50%    60,376,032,001,020.00                 0.01
75%    60,590,423,251,007.00                 0.04
max   483,030,105,084,015.00                 5.26

[8 rows x 57 columns]

In [13]:
print('\nNulls by Column:\n', df.isnull().sum())

Nulls by Column:
 parcelid                      0
typeconstructiontypeid    77387
storytypeid               77559
propertylandusetypeid        34
heatingorsystemtypeid     28039
                          ...
buildingclassdesc         77594
heatingorsystemdesc       28039
propertylandusedesc          34
storydesc                 77559
typeconstructiondesc      77387
Length: 68, dtype: int64

In [14]:
print('\nNulls by Row:\n', df.isnull().sum(axis=1))

Nulls by Row:
 0        31
1        29
2        31
3        31
4        31
         ..
77604    48
77605    47
77606    48
77607    37
77608    47
Length: 77609, dtype: int64

In [15]:
print('\nValue Counts:\n', df.count())

Value Counts:
 parcelid                  77609
typeconstructiontypeid      222
storytypeid                  50
propertylandusetypeid     77575
heatingorsystemtypeid     49570
                          ...
buildingclassdesc            15
heatingorsystemdesc       49570
propertylandusedesc       77575
storydesc                    50
typeconstructiondesc        222
Length: 68, dtype: int64

### missing values dataframe function

In [ ]:
def missing_values_df():
    '''
    This functions takes in a dataframe of observations and attributes
    and returns a dataframe where each row is an atttribute name,
    the first column is the number of rows with missing values for that attribute,
    and the second column is percent of total rows that have missing values for that attribute.
    '''